/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  /* background-color: #F8F8FA; */
}
body{
  background-color: #F8F8FA;
}

header{
  background-color: #4618FE;
  color: white;
}

nav{
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  /* border: 2px solid black; */
}
.nav-item, .nav-item-active{
  padding: 5px 10px;
  border: 2px solid transparent;
  font-size: 15px;
}
.nav-item-active,.nav-item:hover{
  background-color: aliceblue;
  font-weight: 700;
  color: black;
  border-radius: 5px;
  font-weight: 700;
}

.items{
  display: flex;
  align-items: center;
}
.items>svg:hover{
  background-color: transparent;
  filter: drop-shadow(0 0 0.7rem black);
}
.extended-nav{
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
}
.header-text{
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding: 20%; */
}
.header-image{
  width: 40vw;
  position: relative;
  top: 100px;
  margin-top: -70px;
}
.header-text img{
  width: 5%;
  padding: 20px 0px;
}
.header-text h2{
  font-size: 40px;
}
.companies {
  margin-top: 1.3rem;
  display: flex;
  flex-wrap: wrap;
}
.content{
  padding: 0rem 3rem;
}
.companies a {
  font-family: "Righteous";
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
  color: #000;
  margin: 2rem;
}
.api{
  margin: 100px 0px;
}
.api h1, .blog-heading h1, .faq-section h2{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-active,.card{
  flex: auto;
  background-color: #FFF;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}
.card-active{
  filter: drop-shadow(0 0 0.3rem black);
}
.card:hover{
  filter: drop-shadow(0 0 0.3rem black);
}
.cards h3{
  color: #4618FE; 
}
.blog-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.blog-card{
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF;
  margin: 20px;
  padding: 0px;
  border-top-left-radius: 100px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
}
.blog-bottom{
  position: absolute;
  bottom: -10%;
  /* border: 2px solid blue; */
}
.blog-bottom{
  right: 40%;
}
.blog-card-bottom-image {
  border: 5px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
}

.blog-author {
  position: absolute;
  bottom: 6px;
  right: 20%;
  font-size: 0.8rem;
  font-weight: bold;
  color: #4617fe;
  /* border: 2px solid black; */
}
.blog-content{
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}

.faq-section{
  padding-left: 2rem;
  margin: 50px 0px;
  background-color: #E9EDFF;
  display: flex;
  justify-content: space-between;
}
.faq-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
button{
  background-color: #4617fe;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  border: 2px solid transparent;
  color: #FFF;
}
.faq-content h4:nth-child(2){
  font-size: 0.6rem;
}

.download-section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.download-email{
  background-color: #E9EDFF;
  /* padding: 0px 20px; */
  margin-left: 20px;
  border-radius: 10rem;
}
.download-email input{
  border: none;
  background-color: #E9EDFF;
  padding: 0px 20px;
}
.download-section button{ 
  padding: 0.5rem 2rem;
  border-radius: 10rem;
  text-transform: uppercase;
}
.content2{
  padding: 0px 50px;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  background: #4617fe;
  color: #FFF;
  padding: 5rem 4rem;
}
ul{
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  /* border: 2px solid black; */
}
.footer-section li{
  margin-right: 2rem;
}
.footer-logo{
  margin-bottom: 2rem;
}
.footer-logos {
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.logos-list {
  margin-right: 1rem;
} 
@media screen and (max-width: 1080px){
  .items,.faq-image{
    display: none;
  }
  .extended-nav{
    flex-direction: column;
  }
  .header-image{
    width: 40vw;
    position: relative;
    top: 0px;
    right: 0px;
    margin-top: 0px;
  }
  .blog-cards{
    grid-template-columns: 1fr;
  }
  .blog-card{
    flex-direction: column; 
  }
  .download-section{
    flex-direction: column;
    gap: 2rem;
  }
  .blog-card{
    width: 300px;
  }
  .faq-content{
    gap: 1rem;
  }
  ul{
    flex-direction: column;
  }
}